.cardWrapper {
  padding: 1rem;
  margin: 1rem;
  background: transparent;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  width: 45%;
  height: fit-content;
  transition: all 0.1s ease-in-out;
}

.cardWrapper:hover {
  border: 1px solid rgba(255, 125, 19, 0.18);
}
