.cardWrapper {
  padding: 1rem;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 10px;
}
