.cardWrapper {
  padding: 1rem;
  margin: 1rem;
  background: transparent;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  font-size: 14px;
  transition: all 0.1s ease-in-out;
}

.cardWrapper:hover {
  background: #8c898518;
  box-shadow: none;
  border: 1px solid #88888810;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
  width: 100%;
}

.iconContainerLeft {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}


