* {
	font-family: "Comfortaa", sans-serif;
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	color: white;
}

.greyLine {
  border: 1px solid grey !important;
}

.prioOne {
  background-color: red;
}

.prioTwo {
  background-color: yellow;
}

.prioThree {
  background-color: green;
}
