* {
	font-family: "Montserrat", sans-serif;
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	color: white;
}

.prioOne {
  border: 1px solid rgba(48, 198, 88, 0.18);
}

.prioTwo {
  border: 1px solid rgba(232, 244, 55, 0.28);
}

.prioThree {
  border: 1px solid rgba(255, 17, 52, 0.28);
}
