.appWrapper {
  height: 100vh;
  width: 100vw;
  /* background: url('./assets/images/blob-scene.png') no-repeat fixed center; */
  background-image: linear-gradient(296.2deg, rgba(73, 73, 73, 1) 36.1%, rgba(16, 15, 15, 1) 93.6%);
}

.windowDrag {
  height: 1.7rem;
  background: transparent;
  --wails-draggable: drag;
}

.viewWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.halfContainer {
  width: 50%;
  padding: 0 1rem;
}
